

.text-inbox{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: $secondaryColor;
    font-size:xx-large;
    justify-items: center;
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.tratamientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .tratamientos-img{
        height: 25rem;
        width: auto;
        border-radius: 30%;
    }

    div{
        width: 20rem;
        font-family: Roboto;
        font-weight: 500;
        color: $primaryColor;

        li{
        list-style-type: disclosure-closed;
    }
    }
}
    




.img-carousel{
  height: $imagesC;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 60% 60%;
  cursor: pointer;
}


.map{
    margin-top: 2.5rem;

    h3{
        color: $primaryColorbright;
    }

    h5{
        color: $primaryColorbright;
        font-family: Roboto;
        margin-top: 2rem;
    }
    p{
        font-family: Roboto;
        margin:0;
    }
    
    .ubicacion{
        margin-top: 2rem;
        height: 30vh;
        width: 30vw;
    }
}