.sobre-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
  
  .container {
    margin: 0 auto;
    
    
  }

  h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: $primaryColorbright;
  }

  p{
    line-height: 1.7;
    margin-bottom: 15px;
  }

  img{
    height: 60vh;
    object-fit: cover;
  }

  
}

.procedimientos-faciales {
    background: url('https://adydermamedical.mx/images/maestria-de-medicina-estetica.jpg') center/cover no-repeat;
    position: relative;
    height: 50rem;
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    

  

    .procedimientos-grid {
        gap: 20px;
        margin-left: 5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column; 
        width: 30vw;
        height: 30vh;


    .procedimiento {
        background-color: rgba(28, 25, 25, 0.1);
        padding: 20px;
        border-radius: 12px;
        text-align: center;
        justify-items: center;

        h3 {
            font-size: 1.2rem;
            color: #f8bbd0;
            margin-bottom: 10px;
        }

        p {
            font-size: 0.95rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        a {
            color: #ff80ab;
            text-decoration: none;
            font-weight: bold;
            border-bottom: 1px solid transparent;
            transition: border-color 0.3s;
            

         

            .img-nos{
              height: 25vh;
              width: 10vw;
              border-radius: 8%;
              overflow: hidden; 

                img{
                  height: 25vh;
                  border-radius: 8%;
                  transition: transform 0.3s ease;
                }

                img:hover{
                  transform: scale(1.2);
                }

                
            }

        

           
          

          

            
          }
        

    }

  }

  h2 {
    font-size: 2rem;
    padding: 20px 20px;
    color: $primaryColorbright;
  }
}


@include mobile{
  .sobre-nosotros{
    display: flex;
    flex-direction: column;


    img{
      height: 30vh;
      
    }

    
  }

  .procedimientos-faciales{

    
     
        .overlay{
          
          .procedimientos-grid{
            margin: 1 0;
         
            .procedimiento{
              height: 40vh;
              width: 50vw;
              padding: 2rem;

              h3{
                font-size: medium;
              }

              p{
                font-size: small;
              }

              .img-nos{
                height: 18vh;
                width: 20vw;
              }
            }
          }
        
      }
    }

}






