
$imagesHeigh: 15rem;
$imagesC: 30rem;

$primaryColor: #a56da2;
$secondaryColor: #b48a2f;
$thirdColor: #98778d;
$fourthColor: #f0f0f0;
$primaryColorbright: #d81b60;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: $primaryColor;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}


.box-design{
  background: $fourthColor;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}

.cat-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin-top: 2em;
}

// variables




@mixin mobile{
    @media (max-width: 425px){
        @content;
    }
};



@mixin flex-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}