.servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin-top: 2em;
}



.catalogo{
    .grid-servicios{
        @extend .servicios;
    }
    .catalogo-grid{
        @extend .servicios;

        .producto{
            @extend .box-design;

            .img-catalogo{
                height: imagesHeigh;
            }
        }
    }
}