
$imagesHeigh: 15rem;
$imagesC: 30rem;



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #98778d;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}


.box-design{
  background: #f0f0f0;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}



// variables

$primarycolor: red;

//mixin

//el @content representa que lo que se escriba ahi desde el archivo scss principal se va a ver reflejado 
@mixin mobile{
    @media (max-width: 425px){
        @content;
    }
};

// extend : se crea una clase con estilos que despues se llama con @extend

.button{
    background-color: aqua;
    font-size: 30rem;
    border-color: blueviolet;
    width: 20rem;
}

@mixin flex-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}